@{

}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hebberige Bruiden - Help</title>
    <LINK rel="stylesheet" href="CSS/Help.css">
</head>
<body>

    <NAV>
        <UL>
            <ARTICLE id="logo">
                <H2>Logo Here!</H2>
            </ARTICLE>
            <LI ID="homeknop"><A href="home.cshtml">Home</A></LI>
            <LI ID="helpknop"><A class="active">Help</A></LI>
            <LI ID="loginknop"><A href="login.cshtml">Bruidskoppel</A></LI>
        </UL>
    </NAV>

    <DIV id="wrapper">
        <!--<SECTION id="skin">
            <!-- voor videoplayer -->
        <!--</SECTION> -->
        <DIV id="updating_news">
            <SECTION id="main_section">
                <ARTICLE>
                    <div>
                        <H1>Hulp bij het gebruiken van "Hebberige Bruiden</H1>
                        <H2>Hieronder staan de meest voorkomende vragen beantwoord!</H2>
                        <P id="beschrijvingtext">Als je hierna nog vragen hebt, stuur een mail naar "info@HBruiden.nl"</P>
                    </div>
                    <FOOTER>
                        <div>
                            <p>Vraag: "Wat doet de unieke code?"</p>
                            <p>Antwoord: "Deze is gekoppeld aan de wenslijst van het stel, Het is een sleutel tot de lijst als het ware."</p>
                        </div>
                        <div>
                            <p>Vraag: "Waarom moet ik mijn E-mail invullen?"</p>
                            <p>Antwoord: "We koppelen jou E-mail aan het door jou gekozen item, zodat je altijd kan zien wat je voor het stel gaat kopen."</p>
                        </div>
                    </FOOTER>
                </ARTICLE>
            </SECTION>
        </DIV>

        <FOOTER id="the_footer">
            Sam van Noord 2018
        </FOOTER>
    </DIV>

</body>
</html>